html,
body {
  margin: 0;
  padding: 0;
}

#three_canvas {
  width: 100vw !important;
  height: 100vh !important;
  background: linear-gradient(to bottom, #4ca1af, #c4e0e5);
}

.actions {
  top: 10px;
  right: 10px;
  position: fixed;
}

.debug {
  width: -webkit-fill-available;
  bottom: 10px;
  left: 10px;
  position: fixed;
  color: white;
  font-size: 2em;
  justify-content: space-between;
  display: flex;
}

.joycon_freq.valid {
  color: rgb(175, 255, 110);
}